src/templates/main.tpl.pug
section.products-list
  .products
    h2.products__title Adicione os produtos no carrinho
    .product(ng-repeat="product in main.products")
      span.product__name {{product.name}}
      span.product__price {{product.price | currency : 'R$ ' : 2}}
      input.product__quantity(type='number', value='1', min='1', max='10', ng-model='main.quantity[product._id]', ng-init='main.quantity[product._id]=1')
      button.product__add-button(ng-click='main.addToCart(product._id)') Add to cart

  .shopping-cart
    h2.shopping-cart__title Seu carrinho
    p.shopping-cart__no-items(ng-if='main.cart.amount == 0') Nenhum produto em seu carrinho de compras
    .cart-header(ng-if='main.cart.amount > 0')
      span.cart-header__label.cart-header__label--name Produto
      span.cart-header__label.cart-header__label--price Preço
      span.cart-header__label.cart-header__label--quantity Quantidade
      span.cart-header__label.cart-header__label--amount Subtotal
      span.cart-header__label.cart-header__label--delete Excluir
    .cart-item(ng-repeat="item in main.cart.items", ng-if='main.cart')
      span.cart-item__label.cart-item__label--name {{item.product.name }}
      span.cart-item__label.cart-item__label--price {{item.product.price | currency : 'R$ ' : 2}}
      span.cart-item__label.cart-item__label--quantity {{item.quantity}}
      span.cart-item__label.cart-item__label--amount {{item.amount | currency : 'R$ ' : 2}}
      button.cart-item__delete(ng-click='main.deleteFromCart(item._id)') Delete item
    p.shopping-cart__total Total: {{main.cart.amount || 0 | currency : 'R$ ' : 2}}

dist/templates/main.tpl.html

<section class="products-list">
	<div class="products">
		<h2 class="products__title">Adicione os produtos no carrinho</h2>
		<div class="product" ng-repeat="product in main.products"><span class="product__name">{{product.name}}</span><span class="product__price">{{product.price | currency : 'R$ ' : 2}}</span>
			<input class="product__quantity" type="number" value="1" min="1" max="10" ng-model="main.quantity[product._id]" ng-init="main.quantity[product._id]=1"/>
			<button class="product__add-button" ng-click="main.addToCart(product._id)">Add to cart</button>
		</div>
	</div>
	<div class="shopping-cart">
		<h2 class="shopping-cart__title">Seu carrinho</h2>
		<p class="shopping-cart__no-items" ng-if="main.cart.amount == 0">Nenhum produto em seu carrinho de compras</p>
		<div class="cart-header" ng-if="main.cart.amount &gt; 0"><span class="cart-header__label cart-header__label--name">Produto</span><span class="cart-header__label cart-header__label--price">Pre&#231;o</span><span class="cart-header__label cart-header__label--quantity">Quantidade</span><span class="cart-header__label cart-header__label--amount">Subtotal</span><span class="cart-header__label cart-header__label--delete">Excluir</span></div>
		<div class="cart-item" ng-repeat="item in main.cart.items" ng-if="main.cart"><span class="cart-item__label cart-item__label--name">{{item.product.name }}</span><span class="cart-item__label cart-item__label--price">{{item.product.price | currency : 'R$ ' : 2}}</span><span class="cart-item__label cart-item__label--quantity">{{item.quantity}}</span><span class="cart-item__label cart-item__label--amount">{{item.amount | currency : 'R$ ' : 2}}</span>
			<button class="cart-item__delete" ng-click="main.deleteFromCart(item._id)">Delete item</button>
		</div>
		<p class="shopping-cart__total">Total: {{main.cart.amount || 0 | currency : 'R$ ' : 2}}</p>
	</div>
</section>
